<script setup>
import BaseInput from "@/components/BaseInput.vue";
import { ref, computed, reactive, openBlock } from "vue"
import { useAuthStore } from "@/stores/auth.js";


const store = useAuthStore()

const register = ref(false)

const formTitle = computed(() => {
  return register.value ? 'Register' : 'Login'
})

const loginRegister = computed(() => {
  return register.value ? 'You already have an account? Login' : 'Don\'t have an account? Register'
})

const credentials = reactive({
  email: '',
  password: ''
})

const showRegister = () => {
  if (register.value === true) {
    register.value = false
  } else {
    register.value = true
  }
  // login.value = false
}

const handleLogin = () => {
  if (!credentials.email || !credentials.password) {
    alert('Email and/or password cannot be empty!')
  } else if (register.value) {
    store.registerUser(credentials)
  } else {
    store.loginUser(credentials)
  }

  // console.log('Login Clickedcredentials.');
}
</script>

<template>
  <div class="bg-blue-200 h-screen w-full flex items-center justify-center">
    <div class="w-[400px] px-10 py-5 mx-auto rounded-md shadow-md bg-white">
      <h2 class="font-title text-3xl text-center mb-2">My Musings</h2>
      <!-- <template> -->
      <div class="space-y-3">
        <h4 class="font-semibold text-xl">{{ formTitle }}</h4>
        <BaseInput v-model="credentials.email" title="Email" />
        <BaseInput v-model="credentials.password" type="password" title="Password" />
        <button class="w-full bg-[#1CB2FF] rounded shadow-md py-[10px] text-white font-semibold"
          @click.prevent="handleLogin">{{ formTitle }}</button>
      </div>
      <div class="my-4"> <span class="text-sm font-semibold text-[#1CB2FF] hover:underline cursor-pointer"
          @click.prevent="showRegister">{{ loginRegister }}</span>
      </div>
      <!-- </template> -->
    </div>

  </div>
</template>


<style scoped>

</style>