<script setup>
import { reactive, ref } from "vue";
import star from "@/assets/images/icons/star.svg";
import trash from "@/assets/images/icons/trash.svg";
import archived from "@/assets/images/icons/archived.svg";
import folder from "@/assets/images/icons/folder.svg";
import document from "@/assets/images/icons/document.svg";
import empty from "@/assets/images/icons/empty.svg";
import { useNotesStore } from "@/stores/notes.js";

/**
 * Components
 */

import SideBar from '@/components/Home/SideBar.vue'
import NotesList from '@/components/Home/NotesList.vue'
import ViewNote from '@/components/Home/ViewNote.vue'
import NoteForm from '@/components/Home/NoteForm.vue'
import ReadNote from '@/components/Home/ReadNote.vue'
import Spinner from '@/components/Spinner.vue'

const store = useNotesStore()
// const notes = store.note




// const recents = reactive([
//   { title: 'Reflections on the month of January', icon: document },
//   { title: 'Project proposal', icon: document },
//   // { title: 'Travel itenerary', icon: document }
// ])

const folders = reactive([
  { title: 'Personal', icon: folder },
  { title: 'Work', icon: folder },
  { title: 'Travel', icon: folder },
  { title: 'Events', icon: folder },
  { title: 'Finances', icon: folder },
])

const moreAndMore = reactive([
  { title: 'Favorites', icon: star },
  { title: 'Trash', icon: trash },
  { title: 'Archived', icon: archived },
])


const loadNewNoteForm = () => {
  store.isEditing = false
  store.isNotesViewEmpty = false
  store.readNote = false
  store.createNote = true
}


/**
 * Load folder content 
 */
const folderTitle = ref('')

const loadFolderCards = (folder) => {
  switch (folder) {
    case 'Personal':

      folderTitle.value = folder
      store.getPersonalNotes()
      break;
    case 'Work':
      folderTitle.value = folder
      store.getWorkNotes()
      break;
    case 'Travel':
      folderTitle.value = folder
      store.getTravelNotes()
      break;
    case 'Events':
      folderTitle.value = folder
      store.getEventsNotes()
      break;
    case 'Finances':
      folderTitle.value = folder
      store.getFinanceNotes()
      break;
    case 'Favorites':
      console.log(folder);
      folderTitle.value = folder
      store.getFavoriteNotes()
      break;
    case 'Trash':
      folderTitle.value = folder
      store.getDeletedNotes()
      break;

    default:
      folderTitle.value = folder
      store.getArchivedNotes()
      break;
  }
}

</script>

<template>
  <main class="grid grid-cols-1 md:grid-cols-12">
    <div class="col-span-2 max-h-screen overflow-y-auto">
      <SideBar :more-and-more="moreAndMore" :folders="folders" @newNoteForm="loadNewNoteForm"
        @loadFolderCards="loadFolderCards" />
    </div>

    <div class="col-span-3  bg-blue-100 max-h-screen overflow-y-auto">
      <div class="px-5 py-[30px]">
        <h2 class="text-[22px] text-[#06A0F1] font-semibold">{{ folderTitle }}</h2>
        <template v-if="store.spinner" class="h-screen w-full flex items-center justify-center">
          <Spinner />
        </template>

        <template v-else>
          <div v-if="store.filteredNotes.length > 0" class="space-y-3 my-4">
            <NotesList v-for="note in store.filteredNotes" :key="note.id" :note="note" />
          </div>
          <div v-else class="h-[500px] my-auto flex flex-col justify-center items-center space-y-5">
            <img :src="empty" alt="" class="w-32">
            <p class="text-xl text-center font-semibold ">
              Select a folder to view your musings.
            </p>
          </div>
        </template>
      </div>
    </div>

    <div class="col-span-7 bg-white min-h-screen px-10"> <!--  px-10"> -->
      <div v-if="store.isNotesViewEmpty" class="">
        <ViewNote />
      </div>
      <div v-if="store.createNote" class="pt-[30px]">
        <NoteForm />
      </div>
      <div v-if="store.readNote" class="pt-[30px]">
        <ReadNote />
        <!-- v-if isEditing or isNoteClicked or isNewNote -->
      </div>
    </div>
    <!-- <div class="absolute h-screen w-screen flex items-center justify-center">
      <Spinner v-if="store.spinner" />
    </div> -->

  </main>
</template>
