<script setup>

</script>

<template>

  <div class="py-10 min-h-screen w-full antialiased font-medium text-gray-800 bg-black bg-opacity-20">
    <div
      class="max-w-sm p-2 mx-auto bg-white border-[1px] border-gray-200 shadow rounded-xl hover:shadow-lg transition-all duration-150 ease-linear"
      x-show="modal" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 scale-90"
      x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90">
      <div class="relative p-6">
        <svg @click.prevent="$emit('closeModal')" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          fill="currentColor" class="w-5 h-5 absolute right-1.5 top-1.5">
          <path fill-rule="evenodd"
            d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
            clip-rule="evenodd" />
        </svg>

        <!-- <a href="#" x-on:click="modal = ! modal" class="absolute top-1.5 right-1.5">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-4 h-4 cursor-pointer fill-current text-slate-500 hover:text-slate-900">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>

        </a> -->
        <h1 class="text-2xl font-bold pb-3 border-b">Delete Note</h1>
        <p class="text-sm text-gray-500 py-3">Are you sure you want to delete this note?</p>
        <!-- <code>App/Cokies</code> -->
        <div class="flex flex-row pt-6 space-x-2 justify-evenly">
          <button @click.prevent="$emit('deleteNote')"
            class="w-full py-3 text-sm font-medium text-center text-white transition duration-150 ease-linear bg-red-600 border border-red-600 rounded-lg hover:bg-red-500">Delete</button>
          <button @click.prevent="$emit('closeModal')"
            class="w-full py-3 text-sm text-center text-gray-500 transition duration-150 ease-linear bg-white border border-gray-200 rounded-lg hover:bg-gray-100">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="bg-white rounded shadow-md mx-auto max-w-xl">
    <div class="bg-gray-200 border-b px-10 py-3">
      <h2 class="text-xl font-semibold ">Delete Note?</h2>
    </div>
    <div class="px-10 py-5">
      <p>Are you sure you want to delete this note?</p>
    </div>
    <div class="flex justify-between border-t bg-gray-200 px-10 py-3">
      <button class="py-2 px-6 bg-green-400 text-white rounded">Cancel</button>
      <button class="py-2 px-6 bg-red-400 text-white rounded">Delete</button>
    </div>
  </div> -->
</template>


<style scoped>

</style>