<script setup>
/**
 * Imports
 */
import { useDateFormat } from '@vueuse/core'
import { useNotesStore } from "@/stores/notes.js"

/**
 * Props
 */
const props = defineProps({
  note: Object
})

const store = useNotesStore()
const formattedDate = useDateFormat(props.note.date, 'DD-MM-YY (ddd)')

// let noteId = note.id

const showNote = (noteId) => {
  // console.log('SHOW NOTE CLICKED' + noteId);
  store.isNotesViewEmpty = false
  store.createNote = false
  store.readNote = true

  // Get note action in state to find one note
  store.getNote(noteId)
}
</script>

<template>
  <div @click="showNote(note.id)"
    class="cursor-pointer hover:shadow-lg hover:-translate-y-1 transition duration-300 ease-in-out">

    <div class="rounded-[3px] shadow-sm bg-white py-2 px-5">
      <h3 class="font-semibold text-[18px]">{{ note.title }}</h3>
      <div class="my-1 text-sm">
        <span class="font-bold">{{ formattedDate }} </span><span v-html="note.musing" class=""></span>
      </div>
    </div>
  </div>
</template>


<style scoped>

</style>