<script setup>
import { ref } from "vue";
import BaseInput from "@/components/BaseInput.vue"
import SelectInput from "@/components/SelectInput.vue"
import Spinner from "@/components/Spinner.vue"
// import BlotFormatter from 'quill-blot-formatter'
import { useNotesStore } from "@/stores/notes"

const notesStore = useNotesStore()

// const title = ref('')
// const date = ref('')
// const folder = ref('')
const note = ref({
  title: '',
  date: '' || Date.now(),
  folder: '',
  musing: ''
})
// const newTitleRef = ref(null)

const options = ref(['Personal', 'Work', 'Travel', 'Events', 'Finances'])

const addNote = () => {
  notesStore.addNewNote(note.value)
  note.value.title = ''
  note.value.date = ''
  note.value.folder = ''
  note.value.musing = null
}

if (notesStore.isEditing === true) {
  note.value.title = notesStore.singleNote.title
  note.value.date = notesStore.singleNote.date
  note.value.folder = notesStore.singleNote.folder
  note.value.musing = notesStore.singleNote.musing
}

const updateNote = (id) => {
  // console.log(id);
  notesStore.updateExistingNote(id, note.value)
}

const closeForm = () => {
  notesStore.createNote = false
  notesStore.isNotesViewEmpty = true
}
</script>

<template>
  <div class="relative">
    <div class="absolute right-0 top-0">
      <svg @click="closeForm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
        class="w-8 h-8 hover:scale-105 transition duration-300 ease-in-out">
        <path fill-rule="evenodd"
          d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
          clip-rule="evenodd" />
      </svg>

    </div>
    <h1 class="text-[23px] text-center font-semibold pb-5">{{
      notesStore.isEditing ? 'Edit the Note' : 'Add a New Note'
    }}</h1>
    <form action="" class="space-y-3">
      <BaseInput title="Note title" type="text" v-model="note.title" />
      <BaseInput title="Date" type="date" v-model="note.date" />
      <SelectInput title="Folder" type="select" :options="options" v-model="note.folder" />
      <div class="min-h-full bg-white">
        <!-- <QuillEditor v-model:content="note" theme="snow" class="bg-white" /> -->
        <quill-editor v-model:content="note.musing" contentType="html" /> <!-- :toolbar="toolbar" -->
        <!-- <pre>{{ note }}</pre> -->
      </div>
      <div class="flex justify-center py-5">
        <button @click.prevent="notesStore.isEditing ? updateNote(notesStore.singleNote.id) : addNote()"
          :disabled="!note.musing"
          class="bg-[#06A0F1] text-white py-3 px-auto w-3/4 rounded disabled:bg-[#dff1ff] disabled:text-gray-400">
          {{ notesStore.isEditing ? 'Update Note' : 'Save New Note' }}
        </button>
      </div>
    </form>
    <div v-if="notesStore.spinner"
      class="absolute inset-0 h-screen bg-transparent w-full flex items-center justify-center">
      <Spinner />
    </div>
  </div>
</template>


<style scoped>

</style>