<script setup>
import menu from "@/assets/images/icons/elipsis-vert.svg";
import calendar from "@/assets/images/icons/calendar.svg";
import folder from "@/assets/images/icons/folder.svg";
import edit from "@/assets/images/icons/edit.svg";

import { ref, reactive } from "vue";

import star from '@/assets/images/icons/star.svg'
import archived from '@/assets/images/icons/archived.svg'
import trash from '@/assets/images/icons/trash.svg'
import { useDateFormat } from '@vueuse/core'
import { onClickOutside } from '@vueuse/core'
import DeleteNoteModal from '@/components/Home/DeleteNoteModal.vue'

/**
 * Import state
 */
import { useNotesStore } from "@/stores/notes.js";

const store = useNotesStore()

/**
 * Modal
 */
const modal = reactive({
  deleteNote: false
})

const isDropdownOpen = ref(false)
const dropdownMenu = ref(null)

// HANDLE Click outside
onClickOutside(dropdownMenu, (e) => {
  isDropdownOpen.value = false
})

const handleEditClicked = (id) => {
  isDropdownOpen.value = false

  store.isNotesViewEmpty = false,
    store.createNote = true,
    store.readNote = false,
    store.isEditing = true

  // store.editNote(id)
}

const handleDeleteClicked = (id) => {
  // console.log('CLICK HANDLE WORKED' + id);
  isDropdownOpen.value = false

  store.deleteNote(id)
}
const handleArchiveClicked = (id) => {
  // console.log('CLICK HANDLE WORKED' + id);
  isDropdownOpen.value = false
  store.addToArchived(id)
}
const handleFavoriteClicked = (id) => {
  // console.log('CLICK HANDLE WORKED' + id);
  isDropdownOpen.value = false

  store.addToFavorites(id)
}

const loadModal = () => {
  isDropdownOpen.value = false
  modal.deleteNote = true
}

const handleClose = () => {
  store.readNote = false
  store.isNotesViewEmpty = true
}


const formattedDate = useDateFormat(store.singleNote.date, 'DD-MM-YY (ddd)', { locales: 'en-us' })

</script>

<template>
  <div class="space-y-5 relative">
    <!-- <h2 class="text-4xl font-bold text-blue-400">Read Note</h2> -->
    <div class="flex justify-between items-center">
      <h3 class="text-[#06A0F1] text-3xl font-semibold">{{ store.singleNote.title }}</h3>
      <!-- <div class=""><img :src="menu" alt="" class="w-7 h-7"></div>
      <div>

      </div> -->
      <div class="relative inline-block text-left">
        <div class="flex gap-3 items-center">
          <div class=""><img :src="menu" alt="" class="w-7 h-7" @click="isDropdownOpen = !isDropdownOpen"></div>
          <p @click.prevent="handleClose"
            class="font-semibold cursor-pointer text-xs text-blue-400 hover:to-blue-500 hover:underline">Close
          </p>
        </div>
        <div v-if="isDropdownOpen"
          class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
          <div class="py-1" role="none" ref="dropdownMenu">
            <div @click.prevent="handleEditClicked(store.singleNote.id)"
              class="flex gap-3 px-4 py-2 text-sm text-gray-600 cursor-pointer hover:bg-[#b8e5ff]">
              <img :src="edit" alt="" class="w-4 h-4">
              Edit Note
            </div>
            <div @click.prevent="handleFavoriteClicked(store.singleNote.id)"
              class="flex gap-3 px-4 py-2 text-sm text-gray-600 cursor-pointer hover:bg-[#b8e5ff]">
              <img :src="star" alt="" class="w-4 h-4">
              Add to Favorites
            </div>
            <div @click.prevent="handleArchiveClicked(store.singleNote.id)"
              class="flex gap-3 px-4 py-2 text-sm text-gray-600 cursor-pointer hover:bg-[#b8e5ff]">
              <img :src="archived" alt="" class="w-4 h-4">
              Archive
            </div>

            <!-- handleDeleteClicked(store.singleNote.id) -->
            <div @click.prevent="loadModal"
              class="flex gap-3 px-4 py-2 text-sm text-gray-600 cursor-pointer hover:bg-[#b8e5ff]">
              <img :src="trash" alt="" class="w-4 h-4">
              Delete
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex gap-5 items-center">
      <img :src="calendar" alt="" class="w-6 h-6">
      <span>Date: {{ formattedDate }}</span>
      <!-- <span>Date: {{ useDateFormat(singleNote.date, 'DD-MM-YY (ddd)', { locales: 'en-us' }) }}</span> -->



    </div>
    <hr class="">
    <div class="flex gap-5 items-center">
      <img :src="folder" alt="" class="w-6 h-6">
      <span>Folder: {{ store.singleNote.folder }}</span>
    </div>
    <hr>
    <div>
      <span v-html="store.singleNote.musing"></span>
    </div>
  </div>
  <DeleteNoteModal v-if="modal.deleteNote" class="absolute inset-0" @closeModal="modal.deleteNote = false"
    @deleteNote="handleDeleteClicked(store.singleNote.id)" />
</template>


<style scoped>

</style>