<script setup>
import { useAuthStore } from "@/stores/auth.js"

const store = useAuthStore()

const emit = defineEmits(['loadFolderCards'])

const props = defineProps({
  moreAndMore: {
    type: Array
  },
  folders: {
    type: Array
  },
  // recents: {
  //   type: Array
  // }
})

const showFolderContent = (folder) => {
  emit(loadFolderCards(folder))
}
const showMoreContent = (folder) => {
  console.log(folder);
}

</script>

<template>
  <div class="h-screen py-[23px] px-5 flex flex-col justify-between">
    <div class="space-y-4">
      <div class="flex gap-2 items-center">
        <h1 class="font-title text-[30px]">My Musings</h1>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
          class="w-4 h-4 text-gray-600">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
        </svg>
      </div>
      <div class="">
        <button @click="$emit('newNoteForm')"
          class="flex items-center py-2 justify-center shadow-sm bg-[#1CB2FF] text-white w-full rounded hover:bg-[#06a0f1]">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            class="w-5 h-5 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
          </svg>
          <span class="text-semibold">New Note</span>
        </button>
      </div>

      <!-- <div class="transition duration-300 ease-in-out">
        <h4 class="font-semibold text-sm text-gray-800">Recents</h4>
        <div v-for="recent in recents" :key="recent.title">
          <div @click.prevent=""
            class="flex gap-2 items-center text-sm py-2 cursor-pointer hover:bg-slate-100 hover:scale-105 transition duration-300 ease-in-out">
            <img :src="recent.icon" alt="" class="w-4 h-4">
            <span>{{ recent.title }}</span>
          </div>
        </div>
      </div> -->
      <div>
        <h4 class="font-semibold text-sm text-gray-800">Folders</h4>
        <div v-for="folder in folders" :key="folder.title" class="">
          <!-- showFolderContent(folder.title) -->
          <div @click.prevent="$emit('loadFolderCards', folder.title)"
            class="flex gap-2 items-center text-sm py-2 cursor-pointer hover:bg-slate-100 hover:scale-105 transition duration-300 ease-in-out">
            <img :src="folder.icon" alt="" class="w-4 h-4">
            <span>{{ folder.title }}</span>
          </div>
        </div>
      </div>
      <div>
        <h4 class="font-semibold text-sm text-gray-800">More</h4>
        <div v-for="more in moreAndMore" :key="more.title">
          <div @click.prevent="$emit('loadFolderCards', more.title)"
            class="flex gap-2 items-center text-sm py-2 cursor-pointer hover:bg-slate-100 hover:scale-105 transition duration-300 ease-in-out">
            <img :src="more.icon" alt="" class="w-4 h-4">
            <span>{{ more.title }}</span>
          </div>
        </div>
      </div>
    </div>
    <div v-if="store.user.id" class="my-3 space-y-3">
      <!-- <p class="text-xs text-center"><span class="font-semibold text-gray-800">Email:</span> {{ store.user.email }} </p> -->
      <button
        class="w-full bg-red-500 hover:bg-red-600 hover:shadow-lg hover:scale-105 text-white py-2 rounded shadow-sm"
        @click.prevent="store.signOutUser">Logout <br>
        <span class="text-[10px]">({{ store.user.email }})</span></button>
    </div>
  </div>
</template>


<style scoped>

</style>