<script setup>
import document from "@/assets/images/icons/document.svg";
</script>

<template>
  <div class="h-screen flex items-center">
    <div class=" text-center space-y-2">
      <img :src="document" alt="" class="w-16 h-16 mx-auto">
      <h2 class="text-2xl font-semibold">Select a note to view</h2>
      <p>Choose a note from the list on the left to view its contents, or create a new note to add to your collection.
      </p>
    </div>
  </div>
</template>


<style scoped>

</style>