<script setup>
const pros = defineProps({
  title: {
    type: String,
    default: ''
  },
  options: {
    type: Array,
    default: () => []
  },
  modelValue: {
    type: String,
    default: ''
  }
})
</script>

<template>
  <div class="space-y-1">
    <p class="text-xs font-semibold">{{ title }}</p>
    <select name="" id="" :value="modelValue" @input="$emit('update:modelValue', $event.target.value)"
      placeholder="Select a folder"
      class="rounded-md border border-gray-200 px-4 py-2 w-full text-gray-500 placeholder:text-gray-300 placeholder:text-sm">
      <!-- <option default>Select a folder</option> -->
      <option v-for="(option, index) in options" :key="index" :value="option">{{ option }}</option>
    </select>
  </div>
</template>


<style scoped>

</style>