<script setup>
import { RouterLink, RouterView } from 'vue-router'
import { useAuthStore } from "@/stores/auth.js"
import { onMounted } from 'vue';

const store = useAuthStore()

onMounted(() => {
  store.init()
})

</script>

<template>
  <header>
    <!-- <nav>
      <RouterLink to="/">Home</RouterLink>
      <RouterLink to="/about">About</RouterLink>
    </nav> -->
    <div class="">

    </div>
  </header>

  <RouterView />
</template>

<style scoped>

</style>
