@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body scroll-smooth antialiased text-[15px] text-gray-500;

  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display text-gray-600 font-bold text-xl;
  }

}

@layer components {
  .btn {
    @apply rounded-full px-6 py-3 border border-gray-400 font-medium;
  }
}